{% extends 'base.html' %}

{% block title %} about {% endblock title %} 
{% load static %}
  
 <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'fontawesome_pro/css/all.min.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93e2b04f3a.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpClpGIl"crossorigin="anonymous"></script>
  <!-- slick-carousel -->
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    
{% block body %}
<body style="background: #000;" class="background-black">
  
<div class="container text-center text-white headerset"> <img src style="width:80%">
  <img src="static/images/h1-rev-img-89.jpg"  alt="" width="800" height="345"> 
  <h3>welcome to our studio! </h3>
  <h1> It's nice to meet you</h1> 
</div>
    </div>
  <div>&nbsp;</div>
 <div>&nbsp;</div>
    <div class="container">
    <div class="row">
      <div class="col-4">    
    <h3 class="text-left white-text">shattered.</h3>
    <p class="text-left white-text">by Manny Di Presso:</p>
    <img src="static/images/image-01.jpg"  style="width:80%">
  </div>
  <div class="col-4">  
  <h3 class="text-left white-text">the shore.</h3>
  <p class="text-left white-text">by Elena Davis:</p>
    <img src="static/images/image-01.jpg"  style="width:80%">
  </div>
  <div class="col-4">  
  <h3 class="text-left white-text">unbearable lightness.</h3>
  <p class="text-left white-text">by Frank Adams:</p>
    <img src="static/images/image-01.jpg" style="width:80%">
  </div>
</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="container">
<div class="row">
  <div class="col-4">  
  <h3 class="text-left white-text">shattered.</h3>
  <p class="text-left white-text">by Manny Di Presso:</p>
    <img src="static/images/image-01.jpg"  style="width:80%">
  </div>
  <div class="col-4">  
  <h3 class="text-left white-text">the shore.</h3>
  <p class="text-left white-text">by Elena Davis:</p>
    <img src="static/images/image-01.jpg"  style="width:80%">
  </div>

  <div class="col-4">    
  <h3 class="text-left white-text">unbearable lightness.</h3>
  <p class="text-left white-text">by Frank Adams:</p>
    <img src="static/images/image-01.jpg" style="width:80%">
  </div>
</div>
</div>
<div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div class="container">
<div class="row">
  <div class="col-4">
  <h3 class="text-left white-text">shattered.</h3>
  <p class="text-left white-text">by Manny Di Presso:</p>
    <img src="static/images/instagram pic3.jpg"  style="width:80%">
  </div>
  <div class="col-4">  
  <h3 class="text-left white-text">the shore.</h3>
  <p class="text-left white-text">by Elena Davis:</p>
    <img src="static/images/instagram pic4.jpg"  style="width:80%">
  </div>
  <div class="col-4">  
  <h3 class="text-left white-text">unbearable lightness.</h3>
  <p class="text-left white-text">by Frank Adams:</p>
    <img src="static/images/instagram pic2.jpg" style="width:80%">
  </div>
</div>
</div>
<div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 
 <div class="container">
        <div class="row">
        <div class="col-12"  style="display: flex; justify-content: space-between; ">      
          <h2 class="white-text" style="font-size: 90px !important;"><b>brand new trailers.</b></h2>
          </div>
          </div>
          <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>

<div claass="container">
        <div class="owl-carousel owl-theme">
    <div class="item-video" ><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
</div>
</div> 

<div claass="container">
        <div class="owl-carousel owl-theme">
    <div class="item-video" ><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
</div>
</div>

<div claass="container">
        <div class="owl-carousel owl-theme">
    <div class="item-video" ><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
    <div class="item-video"><video  height="80%" controls src="static/images/video1"></video></div>
</div>
</div>


       <!--footer start-->
       <div>&nbsp;</div>
       <div class="container">
        <div class="row">
        <div class="col-12"  style="display: flex; justify-content: space-between; "> 
        <div class= "col-3">     
          <h2 class="white-text" style="font-size: 90px !important;"><b>brand new trailers.</b></h2>
          </div>          
           </div>
          </div>
          </div>
          </div>
          
 <div>&nbsp;</div>
 <div>&nbsp;</div>
                  <div>&nbsp;</div>
                    <div class="container" style="border-top: 2px solid #fff;">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <footer>
                    <div class="footer-dark">
                    <div class="container">
                    <div class="row">
                    <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: left";><b>our production.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <ul>
                        <li style="list-style-type: none;" class="text-left white-text">About Edge</li>
                        <li style="list-style-type: none;" class="text-left white-text">Latest Videos</li>
                        <li style="list-style-type: none;" class="text-left white-text">Studio Tour</li>
                         <li style="list-style-type: none;" class="text-left white-text">Press & News</li>
                          <li style="list-style-type: none;" class="text-left white-text">Help (FAQ)</li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>film news.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <p class="text-left white-text">Subscribe to Leitmotif newsletter this very day.</p>
                    <div class="form-group "><label for="email" class="mb-3"></b></label><input type="email" class="form-control form-control-lg" placeholder="Enter email" id="email " style="background: black";></div>

                </div>
                <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>about.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                     <p class="text-left white-text">Create your feature presentation the modern way & without effort.</p>
                </div>
                
                <div class="col-md-3 item text">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>instagram posts.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <p class="text-left white-text">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            <div>&nbsp;</div>
             <div class="col-12 text-left white-text" style="display:flex; justify-content: center">contact@barry.com © 2020</p>
        </div>
    </footer>
</div>          
</div>
<!--footer start-->
 
<!--footer end-->




   <!-- Jquery -->
   <script>
   <script src= "{% static 'JavaScript/all.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{% static 'javascript.js' %}"></script>
    <!-- Custom Javascript -->
    <script>
        $('.owl-carousel').owlCarousel({
        items:3,
        merge:true,
        loop:true,
        margin:0,
        video:true,
        lazyLoad:true,
        center:true,
        autoplay:true,
        autoplayTimeout:1000,
        dots:false,
        responsive:{
            480:{
                items:2
            },
            600:{
                items:4
            }
        }
    })

    $('.owl-carousel-2').owlCarousel({
        items:3,
        merge:true,
        loop:true,
        margin:0,
        video:true,
        lazyLoad:true,
        center:true,
        autoplay:true,
        autoplayTimeout:1000,
        dots:false,
        responsive:{
            480:{
                items:2
            },
            600:{
                items:4
            }
        }
    })
    </script>  
    
     
</body>
{% endblock body %}