{% extends 'base.html' %}

{% block title %} musicalbum {% endblock title %}

{% block body %} 

 <!--footer start-->
 <body style="background: #000;" class="background-black">
  
                  <div>&nbsp;</div>
                    <div class="container" style="border-top: 2px solid #fff;">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <footer>
                    <div class="footer-dark">
                    <div class="container">
                    <div class="row">
                    <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: left";><b>our production.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <ul>
                        <li style="list-style-type: none;" class="text-left white-text">About Edge</li>
                        <li style="list-style-type: none;" class="text-left white-text">Latest Videos</li>
                        <li style="list-style-type: none;" class="text-left white-text">Studio Tour</li>
                         <li style="list-style-type: none;" class="text-left white-text">Press & News</li>
                          <li style="list-style-type: none;" class="text-left white-text">Help (FAQ)</li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>film news.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <p class="text-left white-text">Subscribe to Leitmotif newsletter this very day.</p>
                    <div class="form-group "><label for="email" class="mb-3"></b></label><input type="email" class="form-control form-control-lg" placeholder="Enter email" id="email " style="background: black";></div>

                </div>
                <div class="col-md-3 item">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>about.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                     <p class="text-left white-text">Create your feature presentation the modern way & without effort.</p>
                </div>
                
                <div class="col-md-3 item text">
                    <h3 class="text-left white-text" style="display:flex; justify-content: center";><b>instagram posts.</b></h3>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <p class="text-left white-text">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            <div>&nbsp;</div>
             <div class="col-12 text-left white-text" style="display:flex; justify-content: center">contact@barry.com © 2020</p>
        </div>
    </footer>
</div>
</body>
<!--footer end-->  
 {% endblock body %}